<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">

<head>
    <meta charset="utf-8"/>

    <title>Регистрация</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<form action="#" th:action="@{/creating-person}" method="post" th:object="${person}">

    <h2>Добавить новую персону</h2>
    <p>Name <input type="text" th:field="${person.name}" placeholder="your name"><br></p>
    <p>Age <input type="text" th:field="${person.age}" placeholder="your age"><br></p>

    <div class="form-row text-center">
        <div class="col-12">
            <button type="submit" class="btn btn-secondary">Добавить</button>
        </div>
    </div>
</form>

</body>
</html>