<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">

<head>
    <meta charset="utf-8"/>

    <title>Удалить персону</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<form action="#" th:action="@{/delete}" method="post" th:object="${person}">

    <p>id <input type="text" th:field="${person.id}" placeholder="Введите id"><br></p>

    <div class="form-row text-center">
        <div class="col-12">
            <button type="submit" class="btn btn-secondary">Удалить</button>
        </div>
    </div>
</form>

</body>
</html>